# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore sass cache and DS_Store files.
.sass-cache
.DS_Store
sites/*/.sass-cache/
sites/all/themes/rescue01/.sass-cache/2dbdc7a89e9c4ecff59e263d5b11743be4cafab0/
