@import "compass";

$white: #FFFFFF;
$black: #000000;
$text: #222222;
$gray: #555555;
$menu: #eeeeee;
$title_underline: #d6d6d6;
$link: #1a90f4;
$title: #D95100;
$footer_text: #999999;

.title_font{
	font-family: 'Merriweather Sans', sans-serif;
	color: $title;
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: normal;
	}