.front{
	h1#page-title{
	display: none;
	}
}

.section-content{
	margin: 25px 0 0 0;
	
	.zone-content{
	
		.breadcrumb{
			display: none;
			}
		
		article{
			
			footer.submitted{
				display: none;
				}
		}
		
		.region-content-inner{
			
			h1.title{
				font-family: 'Merriweather Sans', sans-serif;
				font-size: 2em;
				font-weight: normal;
				color: $gray;
				margin-top: 20px;
				}
			
			article{
				.field-name-body{
					min-height: 600px;
					}
				}
				
			.block-system-main{

				.field-name-body{
					min-height: 600px;
					}
					
				.view-our-team{
					
					.team{
						ul{
							li{
								margin: 0 0 0.25em 0;
								border-bottom: 1px dashed #CCC;
								
								.views-field-title{
									font-family: 'Merriweather Sans', sans-serif;
									font-size: 1.5em;
									margin: 0;
									color: #D95100;
									font-weight: normal;
									}
								.views-field-field-designation{
									margin: 0 0 1em 0;
									}
								}
							}
						}
					}
				}
			}
		}
	
	} /* END section-content */



.zone-content{
//	background: $white;	
	}


.front{
	
	.section-content{
	background: url( '../images/dl_bg.jpg' ) left top repeat-x;
	margin: 0;
	padding: 0 0 20px 0;
	
	.zone-content{
		background: url( '../images/drop-shadow.png' ) center top no-repeat;
		padding: 45px 0 0 0;

		.flex-nav-container{
			margin: 0 0 80px 0;

			.flexslider{

				border: 0;
				box-shadow: none;
			}

			.flex-control-nav{
				display: block;
				}
			.flex-direction-nav{
				.flex-prev,
				.flex-next{
					opacity: 1;
				}
			}
			}
		}
	}
}

.section-home-content{

	.region-postscript-first{
		font-family: 'Merriweather Sans', sans-serif;
		font-size: .900em;

		ul{
			margin: 0 0 0 16px;
		}
		.views-field-title{
			color: $title;
			font-size: 1.7em;
			border-bottom: 2px solid $title_underline;
			margin: 0 0 15px 0;
			}
		h2.block-title{
			display: none;
		}
	}

	.region-postscript-second{
		font-size: .900em;

		h2.block-title{
			border-bottom: 2px solid $title_underline;
			margin: 0 0 15px 0;
			@extend .title_font;
			}
	}
}


.section-featured-content{
	
	
	.block-featured-articles-block{
				margin: 20px 0 0 0;
				@include clearfix;
			h2.block-title{
				@extend .title_font;
				border-bottom: 2px solid $title_underline;
				}
			.views-field-title{
				font-size: 1.2em;
				color: $gray;
				padding: 0 0 5px 0;
				}
			.view-featured-articles{
				.views-row{
					float: left;
					width: 280px;
					padding: 0 30px 0 0;
					margin: 15px 0 25px 0;
					
					.views-field-body{
						padding: 0 0 10px 0;

						.field-content{
							
							height: 70px;
							max-width:280px; 
						
							p{
								font-size: .750em;
								}
							
							}
						}
				}
			}
			.views-field-view-node{
				a{
					color: $white;
					font-size: .700em;
					text-decoration: none;
					background: $readmore_bg;
					padding: 3px 8px;
					@include border-radius(3px);
				}
			}
		}
	}
	
article{
	
	h3{
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		color: $title;
	}
}

.region-sidebar-second{
	
	.block-quick-links-block{
		
		h2.block-title{
			font-family: 'Merriweather Sans', sans-serif;
			font-size: 1em;
			font-weight: bold;
			padding: 15px 0 0 0;
			}	
		}
	}
