.section-content{
	margin: 25px 0 0 0;

	h1#page-title{
		display: none;
		}
		
	.region-content-inner{
		
		}
	} /* END section-content */


.zone-content{
	background: $white;	
	}


.front{
	
	.section-content{
	background: url( '../images/dl_bg.jpg' ) left top repeat-x;
	margin: 0;
	padding: 0 0 20px 0;
	
	.zone-content{
		background: url( '../images/drop-shadow.png' ) center top no-repeat;
		padding: 45px 0 0 0;

		.flex-nav-container{
			margin: 0 0 80px 0;

			.flexslider{

				border: 0;
				box-shadow: none;
			}

			.flex-control-nav{
				display: none;
				}
			.flex-direction-nav{
				.flex-prev,
				.flex-next{
					opacity: 1;
				}
			}
			}
		}
	}
}

.section-home-content{

	.region-postscript-first{
		font-family: 'Merriweather Sans', sans-serif;
		font-size: .900em;

		.views-field-title{
			color: $title;
			font-size: 1.7em;
			border-bottom: 2px solid $title_underline;
			margin: 0 0 15px 0;
			}
		h2.block-title{
			display: none;
		}
	}

	.region-postscript-second{
		font-size: .900em;

		h2.block-title{
			border-bottom: 2px solid $title_underline;
			margin: 0 0 15px 0;
			@extend .title_font;
			}
	}
}


.section-featured-content{
	
	
	.block-featured-articles-block{
				margin: 20px 0 0 0;
				@include clearfix;
			h2.block-title{
				@extend .title_font;
				border-bottom: 2px solid $title_underline;
				}
			.views-field-title{
				font-size: 1.2em;
				color: $gray;
				padding: 0 0 5px 0;
				}
			.view-featured-articles{
				.views-row{
					float: left;
					width: 280px;
					padding: 0 20px 0 0;
					margin: 15px 0 0 0;
					
					.views-field-body{
						height: 70px;
						padding: 0 0 10px 0;
						p{
							font-size: .750em;
							}
						}
				}
			}
			.views-field-view-node{
				a{
					color: $link;
					font-size: .700em;
					text-decoration: none;
				}
			}
		}
	}

