.section-header{
	position: relative;
	margin: 0 0 0 0;
	background: url( '../images/banner-bg.png' ) 0 0 repeat-x;
	border-bottom: 5px solid #e1e1e1;

	.zone-branding{
		
		}
	.region-branding-inner{
		padding: 10px 0 10px 10px;
		}

	.site-name{

		margin: 0;

		a{
			display: block;
			text-indent: -9999px;
			width: 234px;
			height: 80px;
			background: url( '../images/rescue-logo.png' ) 0 0 no-repeat;
			}
		}

	} /* END section-header */