.section-header{
	position: relative;
	margin: 0 0 0 0;
	background: url( '../images/simple_dashed.png' ) 0 0 repeat;
	border-bottom: 5px solid #e1e1e1;

	.zone-branding{
		
		}
	.region-branding-inner{
		padding: 10px 0 10px 10px;
		}

	.site-name{

		margin: 0;

		a{
			display: block;
			text-indent: -9999px;
			width: 200px;
			height: 69px;
			background: url( '../images/rtlogo.png' ) 0 0 no-repeat;
			}
		}

	} /* END section-header */