.section-header{

	.region-branding-inner,
	.region-menu-inner{
		background: $white;
		}

	.site-name{

		margin: 0;

		a{
			display: block;
			text-indent: -9999px;
			width: 200px;
			height: 68px;
			background: url( '../images/rtlogo2.jpg' ) 0 0 no-repeat;
			}
		}

	} /* END section-header */