.zone-menu-wrapper{
		@include background-image(linear-gradient(#fafafa,#b8b8b8));
	.zone-menu{
	
		.region-menu-inner{
	
			.main-menu{
	
					li{
						background: url( '../images/primary-menu-seperator.gif' ) right 2px no-repeat;
						height: 22px;
						margin-right: 0;
						padding: 0.3em 0.8em;
						a{
							line-height: 2.5em;
							text-decoration: none;
							color: $black;
							font-weight: normal;
							font-size: 0.775em;
							text-transform: uppercase;
							}
					}
				}
			}
		}
	}
