/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../sass/_base.scss */
.title_font, .section-home-content .region-postscript-second h2.block-title, .section-featured-content .block-featured-articles-block h2.block-title {
  font-family: "Merriweather Sans", sans-serif;
  color: #d95100;
  font-size: 1.7em;
  font-weight: normal;
  letter-spacing: normal;
}

/* line 1, ../sass/_general.scss */
body {
  background: url("../images/subtle_dots.png") 0 0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
}

/* line 1, ../sass/_header.scss */
.section-header {
  position: relative;
  margin: 0 0 0 0;
  background: url("../images/banner-bg.png") 0 0 repeat-x;
  border-bottom: 5px solid #e1e1e1;
}
/* line 10, ../sass/_header.scss */
.section-header .region-branding-inner {
  padding: 10px 0 10px 10px;
}
/* line 14, ../sass/_header.scss */
.section-header .site-name {
  margin: 0;
}
/* line 18, ../sass/_header.scss */
.section-header .site-name a {
  display: block;
  text-indent: -9999px;
  width: 234px;
  height: 80px;
  background: url("../images/rescue-logo.png") 0 0 no-repeat;
}

/* END section-header */
/* line 1, ../sass/_footer.scss */
.section-footer {
  font-family: "Merriweather Sans", sans-serif;
  background: #464646 url("../images/dots-dark.png") 0 0 repeat;
  margin: 25px 0 0 0;
  font-size: 1em;
}
/* line 9, ../sass/_footer.scss */
.section-footer h2.block-title {
  font-family: "Merriweather Sans", sans-serif;
  color: white;
}
/* line 15, ../sass/_footer.scss */
.section-footer .zone-footer-wrapper {
  border-top: 5px solid #e1e1e1;
  padding: 10px 0 10px 0;
}
/* line 19, ../sass/_footer.scss */
.section-footer .zone-footer-wrapper h2.block-title {
  padding: 0 0 10px 0;
}
/* line 24, ../sass/_footer.scss */
.section-footer .zone-footer {
  /* background: url( '../images/black_denim.png' ) 0 0; */
}
/* line 27, ../sass/_footer.scss */
.section-footer .zone-footer a {
  color: #999999;
  text-decoration: none;
}
/* line 33, ../sass/_footer.scss */
.section-footer .zone-footer .region-footer-first .views-row {
  margin: 0 0 0 0;
}
/* line 36, ../sass/_footer.scss */
.section-footer .zone-footer .region-footer-first .view-whats-going-on {
  font-size: .750em;
}
/* line 39, ../sass/_footer.scss */
.section-footer .zone-footer .region-footer-first .views-field-body {
  color: #999999;
  font-weight: normal;
}
/* line 46, ../sass/_footer.scss */
.section-footer .zone-footer .region-footer-second .block-menu-follow-us-on {
  font-size: .750em;
}
/* line 49, ../sass/_footer.scss */
.section-footer .zone-footer .region-footer-second .views-field-body {
  color: #999999;
}
/* line 54, ../sass/_footer.scss */
.section-footer .zone-footer .region-footer-third .block-contactinfo-hcard {
  font-size: .750em;
}
/* line 57, ../sass/_footer.scss */
.section-footer .zone-footer .region-footer-third .vcard {
  color: #999999;
}

/* line 2, ../sass/_content.scss */
.front h1#page-title {
  display: none;
}

/* line 7, ../sass/_content.scss */
.section-content {
  margin: 25px 0 0 0;
}
/* line 12, ../sass/_content.scss */
.section-content .zone-content .breadcrumb {
  display: none;
}
/* line 18, ../sass/_content.scss */
.section-content .zone-content article footer.submitted {
  display: none;
}
/* line 25, ../sass/_content.scss */
.section-content .zone-content .region-content-inner h1.title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #555555;
  margin-top: 20px;
}
/* line 34, ../sass/_content.scss */
.section-content .zone-content .region-content-inner article .field-name-body {
  min-height: 400px;
}
/* line 41, ../sass/_content.scss */
.section-content .zone-content .region-content-inner .block-system-main .field-name-body {
  min-height: 400px;
}
/* line 49, ../sass/_content.scss */
.section-content .zone-content .region-content-inner .block-system-main .view-our-team .team ul li {
  margin: 0 0 0.25em 0;
  border-bottom: 1px dashed #cccccc;
}
/* line 53, ../sass/_content.scss */
.section-content .zone-content .region-content-inner .block-system-main .view-our-team .team ul li .views-field-title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5em;
  margin: 0;
  color: #D95100;
  font-weight: normal;
}
/* line 60, ../sass/_content.scss */
.section-content .zone-content .region-content-inner .block-system-main .view-our-team .team ul li .views-field-field-designation {
  margin: 0 0 1em 0;
}

/* END section-content */
/* line 82, ../sass/_content.scss */
.front .section-content {
  background: url("../images/dl_bg.jpg") left top repeat-x;
  margin: 0;
  padding: 0 0 20px 0;
}
/* line 87, ../sass/_content.scss */
.front .section-content .zone-content {
  background: url("../images/drop-shadow.png") center top no-repeat;
  padding: 45px 0 0 0;
}
/* line 91, ../sass/_content.scss */
.front .section-content .zone-content .flex-nav-container {
  margin: 0 0 80px 0;
}
/* line 94, ../sass/_content.scss */
.front .section-content .zone-content .flex-nav-container .flexslider {
  border: 0;
  box-shadow: none;
}
/* line 100, ../sass/_content.scss */
.front .section-content .zone-content .flex-nav-container .flex-control-nav {
  display: block;
}
/* line 105, ../sass/_content.scss */
.front .section-content .zone-content .flex-nav-container .flex-direction-nav .flex-prev,
.front .section-content .zone-content .flex-nav-container .flex-direction-nav .flex-next {
  opacity: 1;
}

/* line 116, ../sass/_content.scss */
.section-home-content .region-postscript-first {
  font-family: "Merriweather Sans", sans-serif;
  font-size: .900em;
}
/* line 120, ../sass/_content.scss */
.section-home-content .region-postscript-first .views-field-title {
  color: #d95100;
  font-size: 1.7em;
  border-bottom: 2px solid #d6d6d6;
  margin: 0 0 15px 0;
}
/* line 126, ../sass/_content.scss */
.section-home-content .region-postscript-first h2.block-title {
  display: none;
}
/* line 131, ../sass/_content.scss */
.section-home-content .region-postscript-second {
  font-size: .900em;
}
/* line 134, ../sass/_content.scss */
.section-home-content .region-postscript-second h2.block-title {
  border-bottom: 2px solid #d6d6d6;
  margin: 0 0 15px 0;
}

/* line 146, ../sass/_content.scss */
.section-featured-content .block-featured-articles-block {
  margin: 20px 0 0 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 149, ../sass/_content.scss */
.section-featured-content .block-featured-articles-block h2.block-title {
  border-bottom: 2px solid #d6d6d6;
}
/* line 153, ../sass/_content.scss */
.section-featured-content .block-featured-articles-block .views-field-title {
  font-size: 1.2em;
  color: #555555;
  padding: 0 0 5px 0;
}
/* line 159, ../sass/_content.scss */
.section-featured-content .block-featured-articles-block .view-featured-articles .views-row {
  float: left;
  width: 280px;
  padding: 0 30px 0 0;
  margin: 15px 0 25px 0;
}
/* line 165, ../sass/_content.scss */
.section-featured-content .block-featured-articles-block .view-featured-articles .views-row .views-field-body {
  height: 70px;
  padding: 0 0 10px 0;
}
/* line 168, ../sass/_content.scss */
.section-featured-content .block-featured-articles-block .view-featured-articles .views-row .views-field-body p {
  font-size: .750em;
}
/* line 175, ../sass/_content.scss */
.section-featured-content .block-featured-articles-block .views-field-view-node a {
  color: white;
  font-size: .700em;
  text-decoration: none;
  background: #f45435;
  padding: 3px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 3, ../sass/_dynamiclead.scss */
.block-dynamic-lead-new-block h2.block-title {
  display: none;
}
/* line 7, ../sass/_dynamiclead.scss */
.block-dynamic-lead-new-block .flexslider {
  margin: 0 0 0 0;
}

/* END block-dynamic-lead-new-block */
/* line 1, ../sass/_menu.scss */
.zone-menu-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #b8b8b8));
  background-image: -webkit-linear-gradient(#fafafa, #b8b8b8);
  background-image: -moz-linear-gradient(#fafafa, #b8b8b8);
  background-image: -o-linear-gradient(#fafafa, #b8b8b8);
  background-image: linear-gradient(#fafafa, #b8b8b8);
}
/* line 10, ../sass/_menu.scss */
.zone-menu-wrapper .zone-menu .region-menu-inner .block-superfish h2.block-title {
  display: none;
}
/* line 17, ../sass/_menu.scss */
.zone-menu-wrapper .zone-menu .region-menu-inner .main-menu li {
  background: url("../images/primary-menu-seperator.gif") right 2px no-repeat;
  height: 22px;
  margin-right: 0;
  padding: 0.3em 0.8em;
}
/* line 22, ../sass/_menu.scss */
.zone-menu-wrapper .zone-menu .region-menu-inner .main-menu li a {
  line-height: 2.5em;
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 0.775em;
  text-transform: uppercase;
}

/* line 1, ../sass/_sfmenu.scss */
ul.menu li {
  margin: 0;
}

/* line 4, ../sass/_sfmenu.scss */
.sf-sub-indicator {
  display: none;
}

/* line 8, ../sass/_sfmenu.scss */
.sf-menu {
  float: left;
  padding: 0;
}

/* line 13, ../sass/_sfmenu.scss */
.sf-menu.sf-navbar {
  width: 100%;
}

/* line 16, ../sass/_sfmenu.scss */
.sf-menu ul {
  padding-left: 0;
}

/* line 19, ../sass/_sfmenu.scss */
.sf-menu a {
  line-height: 2.0em;
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 0.800em;
  text-transform: uppercase;
}

/* line 38, ../sass/_sfmenu.scss */
.sf-menu span.sf-description {
  color: #13a;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}

/* line 46, ../sass/_sfmenu.scss */
.sf-menu li {
  background: url("../images/primary-menu-seperator.gif") right 2px no-repeat;
  height: 22px;
  margin-right: 0 !important;
  padding: 0.5em 0.8em;
}

/* line 54, ../sass/_sfmenu.scss */
.sf-menu li li {
  background: #fafafa;
  top: -0.2em;
}

/* line 62, ../sass/_sfmenu.scss */
.sf-menu li:hover,
.sf-menu li.sfHover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8b8b8), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#b8b8b8, #fafafa);
  background-image: -moz-linear-gradient(#b8b8b8, #fafafa);
  background-image: -o-linear-gradient(#b8b8b8, #fafafa);
  background-image: linear-gradient(#b8b8b8, #fafafa);
  outline: 0;
}

/* line 68, ../sass/_sfmenu.scss */
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0;
}

/* line 74, ../sass/_sfmenu.scss */
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}

/* line 78, ../sass/_sfmenu.scss */
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}

/* line 81, ../sass/_sfmenu.scss */
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}

/* line 86, ../sass/_sfmenu.scss */
.sf-menu.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}

/* line 89, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}

/* line 92, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}

/* line 95, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}

/* line 98, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}

/* line 101, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}

/* line 104, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}

/* line 107, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}

/* line 110, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}

/* line 113, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}

/* line 116, ../sass/_sfmenu.scss */
.sf-menu li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}
